<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="GoodsList" value="http://47.94.170.14/goods/list/get" />
    <add key="GoodsTemplate" value="http://47.94.170.14/goods/template/get" />
    <add key="GoodsEdit" value="http://47.94.170.14/goods/detail/update" />
    <add key="GoodsSale" value="http://47.94.170.14/goods/sale/status/set" />
    <add key="GoodsCat" value="http://47.94.170.14/goods/cats/get" />
    <add key="GoodsQuantity" value="http://47.94.170.14/goods/quantity/Update" />
    <add key="GoodsDetail" value="http://47.94.170.14/goods/detail/List" />
    <add key="GoodSkuPrice" value="http://47.94.170.14/goods/sale/status/update" />
    <add key="GoodSpec" value="http://47.94.170.14/goods/specID/get" />
    <add key="AuthToken" value="http://47.94.170.14/auth/token/get" />
    <add key="MallList" value="http://47.94.170.14/mall/list/get" />
    <add key="MallDel" value="http://47.94.170.14/mall/list/del" />
    <add key="MallUpd" value="http://47.94.170.14/mall/list/upd" />
    <add key="MallInfo" value="http://47.94.170.14/mall/list/info" />
    <add key="OffendList" value="http://47.94.170.14/Offend/list/get" />
    <add key="MallGroupList" value="http://47.94.170.14/mall/group/list" />
    <add key="MallGroupAdd" value="http://47.94.170.14/mall/group/Add" />
    <add key="MallGroupEdit" value="http://47.94.170.14/mall/group/Edit" />
    <add key="MallGroupDel" value="http://47.94.170.14/mall/group/Del" />
    <add key="SqlTable" value="http://47.94.170.14/danger/Sql/list" />
    <add key="SqlMsg" value="http://47.94.170.14/danger/Sql/Upd" />
    <add key="UserLogin" value="http://47.94.170.14/sys/user/login" />
    <add key="UserSign" value="http://47.94.170.14/sys/user/sign" />
    <add key="BSPHPLogin" value="http://47.94.170.14/sys/user/Bslogin" />
    <add key="SysError" value="http://47.94.170.14/sys/Error/Add" />
	<add key="signGet" value="http://47.94.170.14/sys/sign/get" />

	  <add key="DownUrl" value="http://47.94.170.14/api/Update/DownUrl" />
	  <add key="Version" value="http://47.94.170.14/api/Update/Version" />
	  
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>