<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="GoodsList" value="http://jkysh.qpeter.cn/goods/list/get" />
		<add key="GoodsTemplate" value="http://jkysh.qpeter.cn/goods/template/get" />
		<add key="GoodsEdit" value="http://jkysh.qpeter.cn/goods/detail/update" />
		<add key="GoodsSale" value="http://jkysh.qpeter.cn/goods/sale/status/set" />
		<add key="GoodsCat" value="http://jkysh.qpeter.cn/goods/cats/get" />
		<add key="GoodsQuantity" value="http://jkysh.qpeter.cn/goods/quantity/Update" />
		<add key="GoodsDetail" value="http://jkysh.qpeter.cn/goods/detail/List" />
		<add key="GoodSkuPrice" value="http://jkysh.qpeter.cn/goods/sale/status/update" />
		<add key="GoodSpec" value="http://jkysh.qpeter.cn/goods/specID/get" />
		<add key="AuthToken" value="http://jkysh.qpeter.cn/auth/token/get" />
		<add key="MallList" value="http://jkysh.qpeter.cn/mall/list/get" />
		<add key="MallDel" value="http://jkysh.qpeter.cn/mall/list/del" />
		<add key="MallUpd" value="http://jkysh.qpeter.cn/mall/list/upd" />
		<add key="MallInfo" value="http://jkysh.qpeter.cn/mall/list/info" />
		
		<add key="OffendList" value="http://jkysh.qpeter.cn/Offend/list/get" />
		
		<add key="MallGroupList" value="http://jkysh.qpeter.cn/mall/group/list" />
		<add key="MallGroupAdd" value="http://jkysh.qpeter.cn/mall/group/Add" />
		<add key="MallGroupEdit" value="http://jkysh.qpeter.cn/mall/group/Edit" />
		<add key="MallGroupDel" value="http://jkysh.qpeter.cn/mall/group/Del" />
		<add key="SqlTable" value="http://jkysh.qpeter.cn/danger/Sql/list" />
		<add key="SqlMsg" value="http://jkysh.qpeter.cn/danger/Sql/Upd" />

		<add key="UserLogin" value="http://jkysh.qpeter.cn/sys/user/login" />
		<add key="UserSign" value="http://jkysh.qpeter.cn/sys/user/sign" />
		<add key="BSPHPLogin" value="http://jkysh.qpeter.cn/sys/user/Bslogin" />
		

		<add key="SysError" value="http://jkysh.qpeter.cn/sys/Error/Add" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>